body {
  margin:0;
}

.title-show{
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  color: white;

}

.container-show{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;

}
.show-img-round{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}
.show-inner{
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;

}

.show-inner-info{
  background-color: rgba(255, 255, 255, 0.422);
  backdrop-filter: blur(10px);
  width: 30%;
  padding: 67px;
  margin: 10px;
}
.show-inner-spaceship{
  background-color: rgba(255, 255, 255, 0.422);
  backdrop-filter: blur(10px);
  padding: 90px;
  width: 70%;
  margin: 10px;
}


.video-stick{
  position: fixed;
  top: 0;
  z-index: -2;
}

#home-top-video-show:before {
  content: '';
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index:-1;
  background:linear-gradient(to right,rgba(65, 0, 255, 0.4),rgba(255, 0, 234, 0.224));
}
