.navbar-lewagon {
  justify-content: space-between;
  color: black;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: bold;
  background: transparent;
  padding: 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-rent {
  padding: 8px 30px;
  border-radius: 15px;
  background: #000;
  color: #F5F5F5;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin: 0 auto;
  border: 1px solid #F5F5F5;
  text-decoration: none;
}

.navbar-brand {
  color:#F5F5F5;
}

.navbar-nav {
  gap: 20px;
  display: flex;
  align-items: center;
}

.logo-group {
  gap: 20px;
}

.dropdown-menu {
  background-color: transparent;
  color: white;
}
