.navbar-lewagon {
  justify-content: space-between;
  color: black;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: bold;
  background: transparent;
  padding: 16px;
  background: linear-gradient(180deg, rgba(0,0,0,.5) 0%, rgba(139, 139, 139, 0.565) 76%, rgba(255,255,255,0) 100%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-rent {
  padding: 8px 30px;
  border-radius: 15px;
  color: #F5F5F5;
  background-color: #f5f5f542;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin: 0 auto;
  border: 1px transparent #F5F5F5;
  text-decoration: none;
  backdrop-filter: blur(10px);
}


.btn-rent:hover {
  background-color: #f5f5f5ae;
  color: #525252;
  border: 1px solid #f5f5f5;
}

.btn-dropedown{
  text-align: right;
  // font-size: small;
  padding: 13px 30px;
  // border-radius: 15px;
  color: #F5F5F5;
  // background-color: #f5f5f542;
  // font-weight: 300;
  text-decoration: none;
  backdrop-filter: blur(10px);
}
.btn-dropedown:hover {
  text-shadow: 0 0 0.5em #d2d2d2;
  color: #F5F5F5;

}

.navbar-brand {
  color:#F5F5F5;
}

.navbar-nav {
  gap: 20px;
  display: flex;
  align-items: center;
}

.logo-group {
  gap: 20px;
}

.dropdown-menu {
  background-color: #f5f5f542;
  color: white;
  height: auto;
  border-radius: 15px;
}
