// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";

//homepage
@import "pages/index";

.animated-link {
  position: relative;
  color: #1e975f;
  text-decoration: none;
}

.animated-link:hover {
  color: #0f603a;
}

.animated-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0f603a;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.animated-link:hover::before {
  transform: scaleX(1);
}
